albumentations==1.0.0
numpy
opencv-python==4.5.5.64
pytorch_toolbelt
pytorch-lightning==1.7.2
scikit-learn
# segmentation-models-pytorch==0.2.0
git+https://github.com/qubvel/segmentation_models.pytorch@b78f4ba34aac2b1519f4c1bad583befd9e6f2466
torch==1.12.0
torchmetrics
torchvision==0.13
tqdm
typing_extensions